<div class="all">
    <div class="text-center">
        <div class="page">Recovery password</div>
        <p class="pls">please enter your email</p>

        <form>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" aria-describedby="emailHelp">
            </div>
            <button type="button" class="btn btn-primary">Send code</button>
        </form>
        <div>
            <p class="last">Already have an account.<span style="color:blue; cursor:pointer;"> Sign in</span></p>
        </div>
    </div>
</div>