.text{
 
    margin-top:100px;
    // font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    padding-bottom: 50px;
    
    /* identical to box height, or 133% */
    
    // display: flex;
    // align-items: center;
    text-align: center;
    
    color: rgba(0, 0, 0, 0.8);
    }
    
    
    
    .box{
        // display: flex;
        // justify-content: center;
        // align-items: center;
        margin:20px auto;
        width: 668px;
        border-radius: 6px;
        z-index: 1;
        // border: 1px solid rgb(91,97,110);
        // box-shadow: 0 4px 12px 0 rgba( 255,255,255,0.02);
        box-shadow: 0px 0px 5px 3px #0000000D;
        border-radius: 5px;
        padding: 64px 48px;
    
    }
    
    .d-grid .btn-primary{
        position: relative;
        width: auto;
        margin: 0px;
        border-radius: 4px;
        color: rgb(255,255,255);
        cursor: default;
        transition: all 80ms ease-in-out 0s;
        padding: 15px;
        font-size: 16px;
        border: 1px solid rgb(0,82,255);
        background: #002AC0;
    
        cursor: pointer;
        margin-top: 20px;
    }
    
    .box2{
        padding: 30px 80px 30px 80px;
        
    }
    .text2 p{
        // font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    
    }
    .text3 p{
        font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    }
    
    .row .four  .form-control{
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        padding: 20px;
        // margin: 0px;
        // border: 1px solid rgb(91,97,110);
        border-radius: 6px;
        background: none;
        font-weight: 500;
        color: rgb(10,11,13);
        font-size: 14px;
        margin-bottom: 20px;
    }
    .three{
        font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    }
    
    .row .four label{
        
        
        color: rgb(10,11,13);
        
    font-style: normal;
    font-weight: 500;
    // font-size: 20px;
    line-height: 24px;
    }
    
    
    .step-name {
        font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    }
    
    .stepper-wrapper {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }
      .stepper-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
      
        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
      
      .stepper-item::before {
        position: absolute;
        content: "";
        border-bottom: 2px solid #ccc;
        width: 100%;
        top: 10px;
        left: -50%;
        z-index: 2;
      }
      
      .stepper-item::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #ccc;
        width: 100%;
        top: 10px;
        left: 50%;
        z-index: 2;
      }
      
      .stepper-item .step-counter {
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background: white;
        margin-bottom: 6px;
        border: 1px solid #2034EE;
      }
      .stepper-item .step-counter .bi-check {
        
        color:  #2034EE;
        font-size: 1.5rem;
        
      
    
    
    //     width :19.8px;
    // height :14.02px;
        
      }
    
      
      .stepper-item.active {
        font-weight: bold;
      }
      
    //   .stepper-item.completed .step-counter {
    //     background-color: #4bb543;
    //   }
      
      .stepper-item.completed::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #002AC0;
        width: 100%;
        top: 10px;
        left: 50%;
        z-index: 3;
      }
      
      .stepper-item:first-child::before {
        content: none;
      }
      .stepper-item:last-child::after {
        content: none;
      }
    
      @media (max-width: 768px) {
        .box{
            width: 408px;
            padding: 34px 18px;
        }
        .box2{
            padding: 15px 40px 15px 40px;
        }
      }