.all {
    margin-top: 50px;
}

.page {
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.86);
}

.pls {
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin-right: 75px;
    margin-top: -8px;
}

label {
    width: 56px;
    height: 24px;
    margin-left: -190px;
    top: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    flex: none;
}

input {
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    width: 330px;
    margin-left: 41%;
}

@media screen and (max-width: 600px) {
    input {
        margin-left: 25%;
    }
}

.form-label1 {
    width: 185px;
    height: 24px;
    margin-left: -80px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    color: rgba(0, 0, 0, 0.8);
    flex: none;
}

.btn {
    width: 330px;
    height: auto;
    background: #002ac0;
    margin-top: 30px;
    font-size: 15px;
    border: none;
    margin-left: 90px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .btn {
        margin-left: 20%;
    }
}

.last {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 90px;
}

@media screen and (max-width: 600px) {
    .last {
        text-align: center;
    }
}