.btn {
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  background-color: #002ac0;
  border: none;
  height: 40px;
}

.in {
  top: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 15px;
  text-align: center;
  justify-content: center;
  margin: 0px 20px;
}
