<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <p class="heading1">Welcome to CoinTerminal</p>
            <p class="conts1">Connect Cryptocurrency wallets in a single <br>
                portfolio <span class="terms">Terms and conditions</span> apply.</p>
            <img src="assets/btc.png" class="imgs mx-auto d-block" style="width: 350px; height: 350px;" alt="">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 alls">
            <div class="che">
                <p class="btn1">Sign up with email/phone</p>
            </div>
            <div class="contain">
                <div class="one"></div>
                <div style="margin-top: -5px;"> or</div>
                <div class="one"></div>
            </div>
            <div class="che2">
                <p class="btn2"> <img src="assets/Group.png" class="mr-2" alt=""> Sign up with google</p>
            </div>
            <div class="che3">
                <p class="btn3"> <img src="assets/Vector.png" class="mr-2" alt=""> Sign up with apple</p>
            </div>
            <p class="already">Already have an account. <span class="click">Sign in</span></p>
        </div>
    </div>
</div>