<div class="container height-100 d-flex justify-content-center align-items-center">
    <div class="position-relative">
        <div class="card p-2 text-center">
            <div class="container">
                <p class="text1">Please enter the 5 digit code sent your <br> phone number</p>
            </div>
            <div id="otp" class="inputs d-flex  mt-3">
                <input class="m-2 text-center form-control rounded" type="number" id="first" maxlength="1" />
                <input class="m-2 text-center form-control rounded" type="number" id="second" maxlength="1" />
                <input class="m-2 text-center form-control rounded" type="number" id="third" maxlength="1" />
                <input class="m-2 text-center form-control rounded" type="number" id="fourth" maxlength="1" />
                <input class="m-2 text-center form-control rounded" type="number" id="fifth" maxlength="1" />
            </div>
            <button type="button" class="btn btn-primary">Verify</button>
            <p class="resend">Didn’t get code <span class="resend1">Resend</span></p>
        </div>
    </div>
</div>